<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">CORONAWATCH<small>247</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="tracker" class="nav-link">Live Tracker</a></li>

                <li class="nav-item"><a class="nav-link" href="symptoms">Symptoms</a></li>
                <li class="nav-item"><a href="prevention" class="nav-link">Prevention</a></li>
                <li class="nav-item"><a href="wiki" class="nav-link">Wiki</a></li>
                <li class="nav-item"><a href="news" class="nav-link">News</a></li>
                
                <!-- <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Get started</span></a></li> -->
            </ul>
        </div>
    </div>
</nav>